{% load static %}

<head>
  <title>UVaCSSS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'frontend/fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/css/bootstrap-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/fonts/flaticon/font/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
  <link rel="icon" type="image/png" href="{% static 'frontend/images/cssslogo.png' %}">
</head>
<body>

<div class="site-wrap">

  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="site-navbar pt-3" role="banner">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-6 col-xl-6 logo">
          <img src="{% static 'frontend/images/cssslogo.png' %}", style='height:150px;'>
          <h1 class="mb-0"><a href="index.html" class="text-red h2 mb-0">UVaCSSS</a></h1>
          <div class="social-icons d-inline">
              <a href=""><span class="icon-facebook"></span></a>
              <a href="https://www.instagram.com/uvacsss/"><span class="icon-instagram"></span></a>
            </div>
        </div>

        <div class="col-12 d-none d-xl-block border-top">
          <nav class="site-navigation text-center " role="navigation">
            <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block mb-0">
              <li class="active"><a href="index.html">About</a></li>
              <li><a href="team">Team</a></li>
              <li><a href="">Activities</a></li>
              <li><a href="">Technology</a></li>
              <li><a href="">Latest</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
