<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>UVaCSSS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'frontend/fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/css/bootstrap-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/fonts/flaticon/font/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
  <link rel="icon" type="image/png" href="{% static 'frontend/images/cssslogo.png' %}">
</head>
<body>

<div class="site-wrap">

  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="site-navbar pt-3" role="banner">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-6 col-xl-6 logo">
          <img src="{% static 'frontend/images/cssslogo.png' %}", style='height:150px;'>
          <h1 class="mb-0"><a href="index.html" class="text-red h2 mb-0">UVaCSSS</a></h1>
          <div class="social-icons d-inline">
              <a href=""><span class="icon-facebook"></span></a>
              <a href="https://www.instagram.com/uvacsss/"><span class="icon-instagram"></span></a>
            </div>
        </div>

        <div class="col-12 d-none d-xl-block border-top">
          <nav class="site-navigation text-center " role="navigation">
            <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block mb-0">
              <li class="active"><a href="index.html">About</a></li>
              <li><a href="team">Team</a></li>
              <li><a href="">Activities</a></li>
              <li><a href="">Technology</a></li>
              <li><a href="">Latest</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>

    <div class="site-selection center">
        <div class="container">
            <h2 style='text-align: center'>主席团</h2>
            <div class='margin-top-small'>
                <img class='center team-pic' src="images/team/presidium.png">
            </div>

            <div class='info clearfix margin-top-small'>
                <h4>主席 张家恺</h4>
                <p class='font-small'>大家好，我是来自北京的张家恺，就读于文理学院。过去两年里，很幸运能在CSSS收获欢乐与成长的同时，结识了许多优秀的伙伴。很感谢大家一直以来对CSSS的关注与支持，在接下来的一年中，我们将继续以在夏村学习生活的中国留学生利益为出发点，更好地为这个群体服务。最后，人生理想是开一家做粤菜的酒馆。</p>
            </div>

            <div class='info clearfix'>
                <h4>外务副主席 徐书卉</h4>
                <p class='font-small'>来自南京，喜欢足球/皇马/C罗，喜欢看电影看侦探类电视剧，人生理想是定居Tampa，最爱吃冻酸奶，不爱吃巧克力，未来一年能继续在CSSS很激动，希望可以办好各种活动！</p>
            </div>

            <div class='info clearfix'>
                <h4>内务副主席 陈翘浩</h4>
                <p class='font-small'>大家好！我是来自广州的Joseph陈翘浩，现在大二，double majoring in Statistics and Economics.
                我喜欢唱歌，打球， 天文，看书，还有各种吃。我最喜欢吃的是法国鹅肝，而且是煎的那种，同时还很喜欢喝各种老火靓汤。希望CSSS能越来越好，并在我们的带领下为大家挖掘夏村更多的美食，带来了更多欢乐的回忆！</p>
            </div>
        </div>

        <div class="container">
            <h2 style='text-align: center'>文化部</h2>
            <div class='margin-top-small'>
                <img class='center team-pic' src="images/team/chenchengtao.jpg">
            </div>

            <div class='info clearfix margin-top-small' style='margin-top: 20px'>
                <h4>陶陈成</h4>
                <p class='font-small'>大家好我是Mark陶陈成，成都人，建院大二，爱好是打篮球、高尔夫、游戏、还有很多，我最爱吃的无非是ginkgo的口水鸡了哈哈，未来一年我希望能为csss和整个uva华人群体更好的宣扬华人文化</p>
            </div>

            <div class='margin-top-small'>
                <img class='center team-pic' src="images/team/wenqianwang.jpg">
            </div>

            <div class='info clearfix margin-top-small'>
                <h4>汪文谦</h4>
                <p class='font-small'>大家好，我是汪文谦，北京土著十八年，海淀黄庄小霸王；大二double major economics & foreign affairs，希望不会秃头。爱英超，爱F1赛车，爱摇滚，想做一个自由的人。
                </p>
            </div>
        </div>

        <div class="container">
            <h2 style='text-align: center'>活动部</h2>
            <div class='margin-top-small'>
                <img class='center team-pic' src="images/team/activity.jpeg">
            </div>

            <div class='info clearfix margin-top-small'>
                <h4>肖芷玥</h4>
                <p class='font-small'>大家好～我是出生在深圳、现居苏州的Cici肖芷玥。目前专业是Pre-Comm&Econ爱好唱歌跳舞打篮球做饭看电影看韩剧韩综。希望未来一年在CSSS能举办更好的活动、让大家都玩得开心！</p>
            </div>

            <div class='info clearfix'>
                <h4>漆泓阳</h4>
                <p class='font-small'>Hello，我叫漆泓阳Arthur，大家可以叫我阿漆。我来自贵州贵阳（大山的子孙，yo～），马上大二，专业打算朝comm和Politics走。人生理想还在探索当中。最爱吃的东西是辣子鸡和奶油蛋糕。未来一年希望CSSS在新的主席团领导下可以越来越好，举办更多更丰富的活动来造福UVA华人团体，同时也希望自己在进步的同时能够为组织贡献自己的一份微薄之力。
                </p>
            </div>
        </div>

        <div class="container">
            <h2 style='text-align: center'>宣传部</h2>
            <div>
                <img class='center team-pic' src="images/team/publicity.jpeg">
            </div>

            <div class='info clearfix margin-top-small'>
                <h4>王艺霖</h4>
                <p class='font-small'>我来自上海，专业是Media Studies和Economics，爱好养生。希望新的一年能和大家一起吃好玩好，让CSSS冲出地球登上月球。</p>
            </div>

            <div class='info clearfix'>
                <h4>张馨月</h4>
                <p class='font-small'>
                    大家好，我来自香港，专业是CS和Economics。最喜欢的事情就是做各种各样吃的给大家吃！再次担任宣传部部长，希望可以把更好创意，更好的视频带给大家！
                </p>
            </div>
        </div>

        <div class="container">
            <h2 style='text-align: center'>外联部</h2>
            <div class='margin-top-small'>
                <img class='center team-pic' src="images/team/outreach.jpeg">
            </div>

            <div class='info clearfix margin-top-small'>
                <h4>陈羽芊</h4>
                <p class='font-small'>来自杭州，major psyc，喜欢看番看剧，欢迎和我互卖安利。人生理想是有猫有狗有男朋友。非常养生，欢迎来我寝室陪我喝茶，菊花玫瑰桂花红枣。希望未来一年能和csss的小伙伴们一起吃好玩好学好。</p>
            </div>

            <div class='info clearfix'>
                <h4>刘舒扬</h4>
                <p class='font-small'>
                    在北京土生土长的成都人，曾在康涅狄格Connecticut就读高中。专业方向暂定comm／psyc，好文厌理。平日里既喜欢出门也喜欢宅，爱打游戏，电瘾不轻。向往轻松随性的生活，为实现理想却必须忍辱负重，以苦作舟。拥有不少学生组织中外联领域的工作经历，希望在19-20学年拓展外联业务，同时做好已有的本职工作，配合CSSS其他部门服务夏村华人community
                </p>
            </div>
        </div>

        <div class="container">
            <h2 style='text-align: center'>科技部</h2>
            <div class='margin-top-small'>
                <img class='center team-pic' style="height:500px;"src="images/team/sijuntan.jpg">
            </div>

            <div class='info clearfix margin-top-small'>
                <h4>谭嗣俊</h4>
                <p class='font-small'>我是来自广州的谭嗣俊，专业CS+Math。我喜欢篮球，唱歌，弹吉他。未来的一年希望借助技术的力量服务夏村的学生以及华人群体。</p>
            </div>
        </div>

        <div class="container">
            <h2 style='text-align: center'>财务部</h2>
            <div class='margin-top-small'>
                <img class='center team-pic' src="images/team/finance.jpeg">
            </div>

            <div class='info clearfix margin-top-small'>
                <h4>杨帅</h4>
                <p class='font-small'>大家好我来自北京 专业是commerce和stat。最爱吃火锅和烤肉。未来一年希望在csss更好地服务大家！</p>
            </div>

            <div class='info clearfix'>
                <h4>王梦辰</h4>
                <p class='font-small'>大家好，我是王梦辰Veronique，来自天津，major是stat，也可能double major cs. 喜欢跳舞，追星，吃喝玩乐。希望在新的学年里，把钱管得明白，和大家玩得开心，一起把csss做得更好。
                </p>
            </div>
        </div>

        <div class="container">
            <h2 style='text-align: center'>职业发展</h2>
            <div class='margin-top-small'>
                <img class='center team-pic' src="images/team/mengrudu.jpg">
            </div>

            <div class='info clearfix margin-top-small'>
                <h4>杜梦如</h4>
                <p class='font-small'>北京人，专业是econ和studio art，喜欢摄影，看owl，做饭，撸猫。人生理想是和我家猫互换一天，如果能一周就更好了。最爱吃的东西很难说因为都爱吃。未来一年希望能把职业发展项目搞得红红火火。</p>
            </div>
        </div>

        <div class="container">
            <h2 style='text-align: center'>财务部</h2>
            <div class='margin-top-small'>
                <img class='center team-pic' src="images/team/secretary.jpeg">
            </div>

            <div class='info clearfix margin-top-small'>
                <h4>顾欣妍</h4>
                <p class='font-small'>我来自鱼米之乡苏州，专业是Media Studies和Economics。我的人生理想是游山玩水，吃遍所有不辣的好吃的东西还瘦，还特别有钱。我最爱吃的东西是香菇。未来在CSSS的一年里我希望能和大家成为很好的朋友，把每件工作都尽力做到最好，也希望大家在我跳预言家的时候信我一回！！ (`皿´) </p>
            </div>

            <div class='info clearfix'>
                <h4>童瑶</h4>
                <p class='font-small'>大家好！我是Grace，来自上海，数学和经济major，法语minor。我喜欢音乐和马术，还有美食！最爱吃的东西是妈妈做的糖醋排骨和油面筋塞肉！希望在接下来的一年里CSSS可以走出UVA冲向全世界，也希望可以得到大家的多多支持啦！
                </p>
            </div>
        </div>
